{% extends 'layouts/default.html' %}

{% block content %}
<div class="flex flex-col items-center">
    <div class="w-full max-w-md px-14">
        <h1 class="text-xl lg:text-lg font-bold mt-5 mb-4 text-center">忘記密碼</h1>
        <p class="text-center text-gray-500 mb-6">請輸入您註冊時使用的電子郵件地址，我們將會寄送一封包含重設密碼連結的信件給您。</p>
        <form method="post" action="{% url 'account_reset_password' %}" class="flex flex-col gap-4 sm:gap-6" novalidate>
            {% csrf_token %}
            <div class="mb-2">
                <div class="relative">
                    <svg class="absolute left-6 top-1/2 -translate-y-1/2" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#7c7c7c" viewBox="0 0 256 256"><path d="M224,48H32a8,8,0,0,0-8,8V192a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V56A8,8,0,0,0,224,48ZM203.43,64,128,133.15,52.57,64ZM216,192H40V74.19l82.59,75.71a8,8,0,0,0,10.82,0L216,74.19V192Z"></path></svg>
                    <input type="email" name="email" placeholder="請輸入信箱" class="text-sm w-full py-2 px-4 pl-14 border-[1.5px] border-[var(--tertiary-color-300)] rounded-full focus:outline-none transition-colors h-[42px]" required id="id_email">
                </div>
                {% for error in form.email.errors %}
                    <div class="text-[var(--red-color-700)] text-sm ml-8 mt-2 min-h-[20px]">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="flex justify-center mt-2 sm:mt-6">
                <button class="main-btn" type="submit">傳送重設連結</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
