<nav aria-label="我的訂單分頁" class="my-6">
  <ul class="mx-auto flex flex-wrap justify-center gap-4 bg-transparent rounded-md px-2 py-1">
      <li>
              <a hx-get="{% url 'orders:owned_orders_tab_content' %}?tab=all"
                  hx-target="#my-order-list"
                  hx-swap="innerHTML"
                  hx-trigger="click"
                  class="cursor-pointer inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 rounded-md border-b-2 border-transparent opacity-70 hover:opacity-100 transition-opacity focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-200">
              全部訂單
          </a>
      </li>
      <li>
          <a hx-get="{% url 'orders:owned_orders_tab_content' %}?tab=pending"
             hx-target="#my-order-list"
             hx-swap="innerHTML"
             hx-trigger="click"
             class="cursor-pointer inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 rounded-md border-b-2 border-transparent opacity-70 hover:opacity-100 transition-opacity focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-200">
              待付款訂單
          </a>
      </li>

      <li>
          <a hx-get="{% url 'orders:owned_orders_tab_content' %}?tab=processing"
             hx-target="#my-order-list"
             hx-swap="innerHTML"
             hx-trigger="click"
             class="cursor-pointer inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 rounded-md border-b-2 border-transparent opacity-70 hover:opacity-100 transition-opacity focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-200">
              待出貨訂單
          </a>
      </li>

      <li>
          <a hx-get="{% url 'orders:owned_orders_tab_content' %}?tab=shipped"
             hx-target="#my-order-list"
             hx-swap="innerHTML"
             hx-trigger="click"
             class="cursor-pointer inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 rounded-md border-b-2 border-transparent opacity-70 hover:opacity-100 transition-opacity focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-200">
              已出貨訂單
          </a>
      </li>

      <li>
          <a hx-get="{% url 'orders:owned_orders_tab_content' %}?tab=completed"
             hx-target="#my-order-list"
             hx-swap="innerHTML"
             hx-trigger="click"
             class="cursor-pointer inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 rounded-md border-b-2 border-transparent opacity-70 hover:opacity-100 transition-opacity focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-200">
              已完成訂單
          </a>
      </li>
  </ul>
</nav>