DJANGO_SECRET_KEY = ""
PG_HOST=localhost
PG_USER=USER
PG_PASSWORD=PASSWORD
PG_DB_NAME=NAME
PG_PORT=5432
CLOUDINARY_URL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=