DJANGO_SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=
HOSTNAME=
NGROK_HOSTNAME=

PG_HOST=
PG_USER=
PG_PASSWORD=
PG_DB_NAME=
PG_PORT=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=

MAILGUN_API_KEY=
MAILGUN_SENDER_DOMAIN=
DEFAULT_FROM_EMAIL=

LINE_CHANNEL_ID=
LINE_CHANNEL_SECRET_KEY=
LINE_SIGNATURE_REQUEST_URI=
LINE_SANDBOX_URL=

LINE_LOGIN_CHANNEL_ID=
LINE_LOGIN_CHANNEL_SECRET_KEY=

NEWEBPAY_MERCHANT_ID=
NEWEBPAY_HASH_KEY=
NEWEBPAY_HASH_IV=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GEMINI_API_KEY=

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
ALLOWED_HOSTS=
