{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <script type="module" src="{% static 'scripts/app.js' %}"></script>
	{% block extra_head %}
    {% endblock %}
</head>
<body class="min-h-screen flex flex-col" hx-headers='{"X-CSRFToken": "{{csrf_token}}"}' x-data="{ loading: false }">
    <header 
        x-data="navigationControl"
        @scroll.window="handleNavbar"
        :class="showNavbar ? 'top-0' : '-top-[90px]' "
        class="w-full bg-[var(--bg-color)] fixed z-40 transition-all duration-500 ease-in-out">
        {% include "shared/navbar.html" %}
    </header>

    {% include "shared/messages.html" %}
    <main class="pt-[90px] flex-1">
        {% block content %}
        {% endblock %}
    </main>
    
    {% include "shared/footer.html" %}

    {% include "shared/back_to_top_btn.html" %}

    {% include "shared/loading.html" %}
</body>
</html>
