{% extends 'layouts/default.html'%}
{% load static %}
{% block content %}


 <section class="max-w-[1440px] mx-auto px-8 sm:px-12 flex flex-col gap-[40px]">

	<!-- Button -->
	{% if role == "owner" %}
	<div>
		<div class="flex justify-center gap-4">
			<a href="{% url 'orders:buyer_list' group.id %}" class="main-btn main-btn-black">
				查看跟團者資訊
			</a>
			{% if group.status == 'ongoing'%}
			<a href="{% url 'groups:manage_edit' group.id %}" class="main-btn main-btn-black">
			編輯團購
			</a>
	
			{% endif %}
		</div>
	</div>
	{% endif %}
	
	{% if role != "owner" and order %}
		<div class="flex justify-center gap-4 mt-2">
				{% if order.order_status == "pending" %}
					<a href="{% url 'orders:my_orders' %}?tab=pending" class="main-btn">
						去付款
					</a>
				{% endif %}
			</div>
	{% endif %}
	

	<!-- Group -->
	<div>
		<div class="w-full h-[200px] sm:h-[300px] md:h-[400px] rounded-[25px] md:rounded-[50px] overflow-hidden">
		<div class="w-full h-full bg-center bg-cover" style="background-image:url('{{ group.banner.url }}');"></div>
		</div>
	</div>
	
	<div class="px-4 flex flex-col gap-[40px]">

		<!-- Group Name -->
		<div >
			<div class="flex justify-center">
			<div class="flex flex-col items-center gap-4">
				<div class="inline-flex items-center gap-[10px] rounded-[50px] px-8 py-2 text-sm font-medium  text-white {% if group.status == 'ongoing' %}bg-primary-color{% else %} bg-secondary-color{% endif %}">
					{{ group.get_status_display}}
				</div>
				<div class="text-center">
				<h1 class="text-2xl sm:text-3xl md:text-4xl font-semibold leading-[1.2] break-all">{{ group.name }}</h1>
				</div>
			</div>
			</div>
		</div>
		
		
		<!-- Desc -->
		<div>
			<div class="w-full max-w-[1100px] mx-auto">
				<!-- 截止時間與目標進度 -->
				{% if group.status == "ongoing" %}
				<div class="mb-8 md:p-6">
					<div class="flex flex-col md:flex-row items-center justify-between gap-4 md:gap-8">
						<!-- 截止時間 -->
						<div class="w-full md:w-1/2 flex flex-col items-center">
							<span class="text-sm md:text-base font-medium mb-2 tertiary-color-500">截止日期</span>
							<span class="text-2xl font-bold">{{ group.deadline|date:"Y / m / d" }}</span>
						</div>
						
						<!-- 剩餘數量 -->
						<div class="w-full md:w-1/2 flex flex-col items-center">
							{% if group.goal_choice == "amount" %}
							<span class="text-sm md:text-base font-medium mb-2 tertiary-color-500">剩餘可跟團金額</span>
							<span class="text-2xl font-bold">${{ remaining_limit }}</span>
							{% elif group.goal_choice == "quantity" %}
							<span class="text-sm md:text-base font-medium mb-2 tertiary-color-500">剩餘可跟團數量</span>
							<span class="text-2xl font-bold">{{ remaining_limit }} 件</span>
							{% endif %}
						</div>
					</div>
				</div>
				{% endif %}
				
				<!-- 其他團購資訊 -->
				<div class="flex justify-between gap-4 md:gap-8 mb-6">
						<div class="flex flex-col sm:flex-row items-start sm:items-center text-xs sm:text-sm md:text-base md:text-lg tertiary-color-500">
							<div class="flex sm:hidden">
								<span>團主：</span>
							</div>
							<div class="hidden sm:flex">
								<span>團主</span>
								<span class="mx-1">：</span>
							</div>
							<span class="block sm:inline">{{ group.owner.username }}</span>
						</div>
					
						<div class="flex flex-col sm:flex-row items-start sm:items-center text-xs sm:text-sm md:text-base md:text-lg tertiary-color-500">
							<div class="flex sm:hidden">
								<span>創立時間：</span>
							</div>
							<div class="hidden sm:flex">
								<span>創立時間</span>
								<span class="mx-1">：</span>
							</div>
							<span class="block sm:inline">{{ group.created_at|date:"Y/m/d" }}</span>
						</div>
					
						<div class="flex flex-col sm:flex-row items-start sm:items-center text-xs sm:text-sm md:text-base md:text-lg tertiary-color-500">
							<div class="flex sm:hidden">
								<span>目標：</span>
							</div>
							<div class="hidden sm:flex">
								<span>目標</span>
								<span class="mx-1">：</span>
							</div>
							<span class="block sm:inline">
								{% if group.goal_choice == "amount" %}
								${{ group.min_goal }}
								{% elif group.goal_choice == "quantity" %}
								{{ group.min_goal }} 件
								{% endif %}
							</span>
						</div>
				</div>
			</div>
		</div>
		
		<!-- Progress -->
		<div>
			<div class="w-full max-w-[1100px] mx-auto space-y-14">
				<div class="relative w-full h-[10px] bg-tertiary-color-200 rounded-full">
					<div class="h-full bg-primary-color rounded-full" style="width: {{ group.current_progress }}%"></div>
					<!-- 百分比 -->
					{% with progress=group.current_progress %}
						<span class="absolute top-[20px] text-2xl md:text-3xl font-bold primary-color -translate-x-1/2"
								style="left: {% if progress < 10 %}5%{% elif progress > 85 %}93%{% else %}{{ progress }}%{% endif %};">
							{{ progress }}%
						</span>
					{% endwith %}

					
				</div>
			</div>
		</div>
		
		<!-- Product -->
		<div class="mt-[40px]">
			<!-- Title -->
				
				{% include "groups/shared/update_products.html" %}
			
				<!-- divider -->
				<hr class="max-w-[1105px] mx-auto border-[var(--tertiary-color-300)] mt-[60px] md:mt-[120px] mb-[30px] md:mb-[60px]">
			</div>
		</div>
		
		
		<div class="break-all m-auto">
			
			<div class="text-center mb-4">
				<h2 class="text-2xl sm:text-3xl md:text-4xl font-semibold leading-[1.2]">團購介紹</h2>
			</div>
		
			<div class="w-full text-center break-all">
				{{ group.description|safe }}
			</div>
		
		</div>
		
		{% if group.status == 'ongoing' %}
			{% if role == "owner" %}
				<div class="flex justify-center">
					<form action="{% url 'groups:detail' group.id %}" method="post" onsubmit="return confirm('確定要刪除這個團購嗎？此操作無法復原。');">
						{% csrf_token %}
						<input type="hidden" name="_method" value="delete">
						<input type="hidden" name="role" value="owner">
						<button type="submit" class="main-btn main-btn-red">
							刪除團購
						</button>
					</form>
				</div>
			{% endif %}
		
			{% if role == "joiner" %}
				<div class="flex justify-center">
					<form action="{% url 'groups:detail' group.id %}" method="post" onsubmit="return confirm('確定要退出嗎？');">
						{% csrf_token %}
						<input type="hidden" name="_method" value="delete">
						<button type="submit" class="main-btn main-btn-red">
							退出團購
						</button>
					</form>
				</div>
			{% endif %}
		{% endif %}
	</div>
 </section>

{% endblock %}