{% extends 'layouts/default.html'%}
{% load static %}

{% block content%}
	<!-- Main Content Section -->
  	<section class="max-w-[1440px] mx-auto px-4 sm:px-12 md:px-24">
		<!-- Tab Group -->
		<div class="overflow-hidden">
			{% include "shared/tab_group.html" with active_tab=active_tab only %}
    	</div>
    	<div class="w-full max-w-[1105px] mx-auto">
			<div id="sub-tabs-container">
				{% if active_tab == 'owned' or active_tab == 'followed' %}
					{% include "groups/shared/sub_groups_tabs.html" with active_tab=active_tab active_status=active_status only %}
				{% endif %}
			</div>

			<!-- Cards -->
			<div id="groups-container" class="mt-6 lg:mt-8 px-12">
				{% include "groups/shared/group_with_paginator.html" with page_groups=page_groups active_tab=active_tab only %}
			</div>
		</div>
  	</section>
{% endblock %}