{% extends 'layouts/default.html'%}
{% load static %}

{% block content%}
 <!-- Main Content Section -->
  <section class="max-w-[1440px] mx-auto px-8 sm:px-12">
    <div class="w-full max-w-[1105px] mx-auto">
    
        <!-- Tab Group -->
        <div class="flex justify-center mt-6 lg:mt-8">
            {% include "shared/tab_group.html" %}
        </div>

        <!-- Cards -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8 mt-6 lg:mt-8">
            {% if groups %}
                {% for group in groups %}
                    {% include 'groups/shared/group_card.html' with group=group only %}
                {% endfor %}
            {% else %}
                    <div class="w-full text-center">
                        <h3 class="text-lg sm:text-xl tertiary-color-500">目前沒有此分類團購</h3>
                    </div>
            {% endif %}
            
        </div>
        
    </div>
  </section>
{% endblock %}