{% extends 'layouts/default.html'%} 
{% block content%}
<div x-data="validators" >
	<form
	class="flex flex-col gap-2 items-center mt-5"
	method="POST"
	enctype="multipart/form-data"
	action="{% url 'groups:new' %}">
		{% csrf_token %}
  		<div class="bg-white flex flex-col gap-2 w-full p-5">
    		<label for="{{ group_form.name.auto_id }}">{{ group_form.name.label }}</label>
    		<input
    			class="w-full border-2 border-gray-300 rounded-md p-2"
    			type="text"
    			name="{{ group_form.name.html_name }}"
    			id="{{ group_form.name.auto_id }}">
    		<label for="{{ group_form.banner.auto_id }}">{{ group_form.banner.label }}</label>
    		<input
    			class="w-full border-2 border-gray-300 rounded-md p-2"
    			type="file"
    			name="{{ group_form.banner.html_name }}"
    			id="{{ group_form.banner.auto_id }}">
    		<label for="{{ group_form.description.auto_id }}">{{ group_form.description.label }}</label>
    		<textarea
    			class="w-full border-2 border-gray-300 rounded-md p-2 resize-y"
    			name="{{ group_form.description.html_name }}"
    			id="{{ group_form.description.auto_id }}">
			</textarea>
    		<label for="{{ group_form.deadline.auto_id }}">{{ group_form.deadline.label }}</label>
    		<input
    			class="w-full border-2 border-gray-300 rounded-md p-2"
    			type="date"
    			name="{{ group_form.deadline.html_name }}"
    			id="{{ group_form.deadline.auto_id }}">
    		<label for="{{ group_form.goal_choice.auto_id }}">{{ group_form.goal_choice.label }}</label>
    		<select
    			class="w-full border-2 border-gray-300 rounded-md p-2"
    			name="{{ group_form.goal_choice.html_name }}"
    			id="{{ group_form.goal_choice.auto_id }}">
    			<option value="" selected disabled>請選擇</option>
    			{% for choice in group_form.goal_choice.field.choices %}
    			<option value="{{ choice.0 }}">{{ choice.1 }}</option>
  				{% endfor %}
			</select>
			<label for="{{ group_form.min_goal.auto_id }}">{{ group_form.min_goal.label }}</label>
			<input
				class="w-full border-2 border-gray-300 rounded-md p-2"
				type="number"
				name="{{ group_form.min_goal.html_name }}"
				id="{{ group_form.min_goal.auto_id }}"
				min="1"
				x-model="min_goal"
				x-ref="min_goal"
				x-on:input="removeZero()">
		</div>
<!--=== 產品表單 ===-->
		{% include 'groups/product_form.html' %}
	
  		<div class="fixed bottom-2 right-2 flex justify-between gap-2">
   			<a class="bg-blue-500 text-white px-4 py-2 rounded-md"  href="{% url 'groups:owned' %}">取消</a>
    		<button class="bg-blue-500 text-white px-4 py-2 rounded-md" type="submit">新增團購</button>
  		</div>
	</form>
</div>
{% endblock %}