{% extends 'layouts/default.html'%} 
{% block extra_head%}
     {{ group_form.media }}
{% endblock%}
{% block content%}

<section class="max-w-[1440px] mx-auto px-4 sm:px-12 mt-12 lg:mt-16">
    <div class="w-full max-w-[1105px] mx-auto">
        <div class="text-center w-full mb-4 md:mb-10">
            <h1 class="text-xl sm:text-2xl md:text-3xl font-bold mb-2 sm:mb-4">智能開團</h1>
        </div>
		<div class="bg-white flex flex-col gap-6 w-full py-4 md:py-8 px-4 md:px-16 border-2 border-tertiary-color-300 rounded-lg">
			<form class="flex flex-col text-sm sm:text-base" action="{% url 'groups:extract' %}" method="post" @submit="loading = true">
                {% csrf_token %}
                    <div class="flex flex-col sm:flex-row w-full sm:w-auto gap-2 sm:gap-4 items-center items-stretch">
                        <div class="flex-1">
                            <input
                                type="text"
                                name="{{ url_extractor_form.url.html_name }}"
                                id="{{ url_extractor_form.url.id_for_label }}"
                                value="{{ url_extractor_form.url.value|default:'' }}"
                                placeholder="請輸入產品網址"
                                class="w-full h-full border-2 border-tertiary-color-300 rounded-lg p-2 text-sm sm:text-base">
                            
                        </div>
                         
                        <button type="submit" class="main-btn whitespace-nowrap w-full sm:w-auto">送出</button>
                    </div>
                    {% if url_extractor_form.url.errors %}
                            <div class="red-color-700 text-sm text-center mt-2 break-all">
                                <p>{{ url_extractor_form.url.errors }}</p>
                            </div>
                    {% endif %}
  			</form>
		</div>
	</div>
</section>
{% if group_form %}
    <section x-data="validators" class="max-w-[1440px] mx-auto px-4 sm:px-12 mt-12 lg:mt-16">
        <div class="w-full max-w-[1105px] mx-auto">
            <div class="text-center w-full mb-4 md:mb-10">
                <h1 class="text-xl sm:text-2xl md:text-3xl font-bold mb-2 sm:mb-4">新增團購</h1>
            </div>

            <form
            class="flex flex-col gap-6 lg:gap-12"
            method="POST"
            enctype="multipart/form-data"
            action="{% url 'groups:new' %}"
            data-upload-url="{% url 'groups:upload_image' %}"
            @submit="loading = true">
                {% csrf_token %}
                {% if scraped_image %}
                <input type="hidden" name="scraped_image_url" value="{{ scraped_image }}">
                {% endif %}
                
                <div class="bg-white flex flex-col gap-6 w-full py-4 md:py-8 px-4 md:px-16 border-2 border-tertiary-color-300 rounded-lg">
                    <div class="flex flex-col gap-2">
                        <label for="{{ group_form.name.id_for_label }}" class="text-sm text-center sm:text-base">{{ group_form.name.label }}</label>
                        <textarea
                            class="w-full border-2 border-tertiary-color-300 rounded-lg p-2 text-sm sm:text-base resize-none overflow-hidden text-center"
                            name="{{ group_form.name.html_name }}"
                            id="{{ group_form.name.id_for_label }}"
                            x-ref="autoResize"
                            x-init="$nextTick(() => { $refs.autoResize.style.height = 'auto'; $refs.autoResize.style.height = $refs.autoResize.scrollHeight + 'px'; })"
                            @input="$refs.autoResize.style.height = 'auto'; $refs.autoResize.style.height = $refs.autoResize.scrollHeight + 'px';"
                        >{{ group_form.name.value|default:'' }}</textarea>
                        {% if group_form.name.errors %}
                        <div class="red-color-700 text-sm sm:text-base mt-2 text-center">
                            {{ group_form.name.errors }}
                        </div>
                        {% endif %}
                    </div>
                    <div  class="flex flex-col gap-2" x-data="imagePreview('{{ scraped_image|default:''}}')">
                        <label for="{{ group_form.banner.id_for_label }}" class="text-sm text-center sm:text-base">{{ group_form.banner.label }}</label>
                        <div class="w-full h-40 border-2 border-dashed border-tertiary-color-300 rounded-lg flex items-center justify-center cursor-pointer relative overflow-hidden group hover:bg-[var(--tertiary-color-50)] transition-colors"
                            @click="$refs.fileInput.click()">
                            <img x-show="imageUrl" :src="imageUrl" class="object-cover w-full h-full" />
                            <svg x-show="!imageUrl" xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 tertiary-color-500" viewBox="0 0 24 24" fill="currentColor">
                                <path d="M11 13H5c-.552 0-1-.448-1-1s.448-1 1-1h6V5c0-.552.448-1 1-1s1 .448 1 1v6h6c.552 0 1 .448 1 1s-.448 1-1 1h-6v6c0 .552-.448 1-1 1s-1-.448-1-1v-6z"/>
                            </svg>
                            <input
                                x-ref="fileInput"
                                class="hidden"
                                type="file"
                                name="{{ group_form.banner.html_name }}"
                                id="{{ group_form.banner.id_for_label }}"
                                accept="image/*"
                                @change="handleFile">
                        
                        </div>
                        {% if group_form.banner.errors %}
                        <div class="red-color-700 text-sm sm:text-base mt-2 text-center">
                            {{ group_form.banner.errors }}
                        </div>
                        {% endif %}
                    </div>
                    
                    <div class="flex flex-col gap-2">
                        <label for="{{ group_form.description.id_for_label }}" class="text-sm text-center sm:text-base">{{ group_form.description.label }}</label>


                            {{ group_form.description }}

                        {% if group_form.description.errors %}
                        <div class="red-color-700 text-sm mt-2 text-sm sm:text-base text-center">
                            {{ group_form.description.errors }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="flex flex-col gap-2 text-center">
                        <label for="{{ group_form.deadline.id_for_label }}" class="text-sm sm:text-base">{{ group_form.deadline.label }}</label>
                        <input
                            class="w-full border-2 border-tertiary-color-300 rounded-lg p-2 text-sm sm:text-base text-center"
                            type="date"
                            name="{{ group_form.deadline.html_name }}"
                            id="{{ group_form.deadline.id_for_label }}"
                            value="{{ one_week_later|date:'Y-m-d' }}"
                            min="{{ group_form.deadline.field.widget.attrs.min }}">
                        {% if group_form.deadline.errors %}
                        <div class="red-color-700 text-sm sm:text-base mt-2 text-center">
                            {{ group_form.deadline.errors }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="flex flex-col gap-2 text-center">
                        <label for="{{ group_form.goal_choice.id_for_label }}" class="text-sm sm:text-base">{{ group_form.goal_choice.label }}</label>
                        <select 
                            name="{{ group_form.goal_choice.html_name }}" 
                            id="{{ group_form.goal_choice.id_for_label }}"
                            class="{{ group_form.goal_choice.field.widget.attrs.class }} text-sm sm:text-base text-center">
                        <option value="" disabled selected class="text-center">請選擇</option>
                        {% for choice, label in group_form.goal_choice.field.choices %}
                        <option value="{{ choice }}" {% if group_form.goal_choice.value == choice %} selected {% endif %}>
                        {{ label }}
                        </option>
                        {% endfor %}
                    </select>

                    {% for error in group_form.goal_choice.errors %}
                        <div class="red-color-700 text-sm sm:text-base mt-2 text-center">{{ error }}</div>
                    {% endfor %}
                    </div>
                    <div class="flex flex-col gap-2 text-center">
                        <label for="{{ group_form.min_goal.id_for_label }}" class="text-sm text-center sm:text-base">{{ group_form.min_goal.label }}</label>
                        <input
                            class="w-full border-2 border-tertiary-color-300 rounded-lg p-2 text-sm sm:text-base text-center"
                            type="number"
                            name="{{ group_form.min_goal.html_name }}"
                            id="{{ group_form.min_goal.id_for_label }}"
                            min="1"
                            x-model="min_goal"
                            x-ref="min_goal"	
                            x-on:input="removeZero()"
                            value="{{ group_form.min_goal.value|default:'' }}">
                        {% if group_form.min_goal.errors %}
                        <div class="red-color-700 text-sm sm:text-base mt-2 text-center">
                            {{ group_form.min_goal.errors }}
                        </div>
                        {% endif %}
                    </div>
                </div>
                
                

                <!-- product -->

                <div class="text-center w-full">
                    <h1 class="text-xl sm:text-2xl md:text-3xl font-bold mb-6 sm:mb-14">新增商品</h1>
                    {% include 'groups/product_form.html' %}
                </div>
            
                <div class="flex justify-center gap-4 mt-8">
                    <a  href="{% url 'groups:index' %}" class="main-btn main-btn-red inline-flex items-center">取消</a>
                    <button class="main-btn" type="submit">新增團購</button>
                </div>
            </form>
        </div>
    </section>
{% else %}
    <!-- 當 URL 驗證失敗時，顯示錯誤訊息 -->
    <div class="text-center text-gray-500 mt-8">
        <p>請重新輸入正確的產品網址</p>
    </div>
{% endif %}
{% endblock %}