<div x-data="productFormset"
data-limited-config='{{ limited_config_json|safe }}'>
    {{ product_form.management_form }}
    
    <div id="forms-container" x-ref="formsContainer" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for form in product_form %}
        <div class="bg-white p-6 border-2 border-tertiary-color-300 rounded-lg flex flex-col gap-4">
            <label for="{{ form.name.id_for_label }}" class="text-sm text-center sm:text-base">{{ form.name.label }}</label>
            <input
            class="w-full border-2 border-tertiary-color-300 rounded-lg p-2 text-sm sm:text-base"
            type="text"
            name="{{ form.name.html_name }}"
            id="{{ form.name.id_for_label }}"
            value="{{ form.name.value|default:'' }}"
            />
			{% if form.name.errors %}
             <div class="text-[var(--red-color-700)] text-sm ml-8 mt-2">
                {{ form.name.errors }}
            </div>
            {% endif %}
            <label for="{{ form.price.auto_id }}" class="text-sm text-center sm:text-base">{{ form.price.label }}</label>
            <input
            class="w-full border-2 border-tertiary-color-300 rounded-lg p-2 text-sm sm:text-base"
            type="number"
            name="{{ form.price.html_name }}"
            id="{{ form.price.auto_id }}"
            value="{{ form.price.value|default:'' }}"
			min="0"
            />
			{% if form.price.errors %}
             <div class="text-[var(--red-color-700)] text-sm ml-8 mt-2">
                {{ form.price.errors }}
            </div>
            {% endif %}
            <label for="{{ form.description.auto_id }}" class="text-sm text-center sm:text-base">{{ form.description.label }}</label>
            {{ form.description }}
			{% if form.description.errors %}
             <div class="text-[var(--red-color-700)] text-sm ml-8 mt-2">
                {{ form.description.errors }}
            </div>
            {% endif %}
            
			<div x-data="imagePreview('')" class="flex flex-col justify-center gap-4">
            	<label for="{{ form.banner.id_for_label }}" class="text-sm text-center sm:text-base">產品圖片</label>
				<div class="w-full h-40 border-2 border-dashed border-tertiary-color-300 rounded-lg flex items-center justify-center cursor-pointer relative overflow-hidden group hover:bg-[var(--tertiary-color-50)] transition-colors"
        			  @click="$refs.fileInput.click()">
					<img x-show="imageUrl" :src="imageUrl" class="object-cover w-full h-full" />
					<svg x-show="!imageUrl" xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 tertiary-color-500" viewBox="0 0 24 24" fill="currentColor">
    					<path d="M11 13H5c-.552 0-1-.448-1-1s.448-1 1-1h6V5c0-.552.448-1 1-1s1 .448 1 1v6h6c.552 0 1 .448 1 1s-.448 1-1 1h-6v6c0 .552-.448 1-1 1s-1-.448-1-1v-6z"/>
					</svg>    
				</div>    
				<input
				x-ref="fileInput"
				class="hidden"
				type="file"
				name="{{ form.banner.html_name }}"
				id="{{ form.banner.id_for_label}}"
				accept="image/*"
				@change="handleFile">
				{% if form.banner.errors %}
             	<div class="text-[var(--red-color-700)] text-sm ml-8 mt-2">
                	{{ form.banner.errors }}
            	</div>
            {% endif %}
			</div>
            
        </div>
        {% endfor %}

    <button
        x-ref="addButton"
        type="button"
        @click="addForm"
        class="w-24 h-24 rounded-full mt-8 mb-8 mt-20 mb-20 lg:mt-30 border-2 border-dashed border-tertiary-color-300 
            flex items-center justify-center cursor-pointer hover:bg-[var(--tertiary-color)] justify-self-center self-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 tertiary-color-500 transition-colors" viewBox="0 0 24 24" fill="currentColor">
            <path d="M11 13H5c-.552 0-1-.448-1-1s.448-1 1-1h6V5c0-.552.448-1 1-1s1 .448 1 1v6h6c.552 0 1 .448 1 1s-.448 1-1 1h-6v6c0 .552-.448 1-1 1s-1-.448-1-1v-6z"/>
        </svg>
    </button>

    <template x-ref="emptyFormTemplate">
        <div class="bg-white p-6 border-2 border-tertiary-color-300 rounded-lg flex flex-col gap-4">
            <label for="{{ empty_form.name.id_for_label }}" class="text-sm font-medium">{{ empty_form.name.label }}</label>
            <input
            class="w-full border-2 border-tertiary-color-300 rounded-lg p-2 text-sm sm:text-base"
            type="text"
            name="{{ empty_form.name.html_name }}"
            id="{{ empty_form.name.id_for_label }}"
            value="{{ empty_form.name.value|default:'' }}"
            />
			{% if empty_form.name.errors %}
             <div class="text-[var(--red-color-700)] text-sm ml-8 mt-2">
                {{ empty_form.name.errors }}
            </div>
            {% endif %}
            <label for="{{ empty_form.price.auto_id }}" class="text-sm font-medium">{{ empty_form.price.label }}</label>
            <input
            class="w-full border-2 border-tertiary-color-300 rounded-lg p-2 text-sm sm:text-base"
            type="number"
            name="{{ empty_form.price.html_name }}"
            id="{{ empty_form.price.auto_id }}"
            value="{{ empty_form.price.value|default:'' }}"
			min="0"
            />
			{% if empty_form.price.errors %}
            <div class="text-[var(--red-color-700)] text-sm ml-8 mt-2">
                {{ empty_form.price.errors }}
            </div>
            {% endif %}
            <label for="{{ empty_form.description.auto_id }}" class="text-sm font-medium">{{ empty_form.description.label }}</label>
            <textarea
            class="w-full border-2 border-tertiary-color-300 rounded-lg p-2 resize-y"
            name="{{ empty_form.description.html_name }}"
            id="{{ empty_form.description.auto_id }}"
            >{{ empty_form.description.value|default:'' }}</textarea>
            {% if empty_form.description.errors %}
             <div class="text-[var(--red-color-700)] text-sm ml-8 mt-2">
                {{ empty_form.description.errors }}
            </div>
            {% endif %}
            <div x-data="imagePreview('')" class="flex flex-col justify-center gap-4">
                <label for="{{ empty_form.banner.auto_id }}" class="text-sm sm:text-base">產品圖片</label>
                <div class="w-full h-40 border-2 border-dashed border-tertiary-color-300 rounded-lg flex items-center justify-center cursor-pointer relative overflow-hidden group hover:bg-[var(--transition-colors-50)] transition-colors"
                      @click="$refs.fileInput.click()">
                    <img x-show="imageUrl" :src="imageUrl" class="object-cover w-full h-full" />
                    <svg x-show="!imageUrl" xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 tertiary-color-500" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M11 13H5c-.552 0-1-.448-1-1s.448-1 1-1h6V5c0-.552.448-1 1-1s1 .448 1 1v6h6c.552 0 1 .448 1 1s-.448 1-1 1h-6v6c0 .552-.448 1-1 1s-1-.448-1-1v-6z"/>
                    </svg>    
                </div>    
                <input
                x-ref="fileInput"
                class="hidden"
                type="file"
                name="{{ empty_form.banner.html_name }}"
                id="{{ empty_form.banner.auto_id}}"
                accept="image/*"
                @change="handleFile">
				{% if empty_form.banner.errors %}
            	 <div class="text-[var(--red-color-700)] text-sm ml-8 mt-2">
                	{{ empty_form.banner.errors }}
            	</div>
            {% endif %}
            </div>
        </div>
    </template>
</div>
