<ul class="flex gap-6 my-5">
    <a hx-get="{% url 'orders:my_orders_tab_content' %}?tab=all" 
        hx-target="#my-order-list"
        hx-swap="innerHTML"
        hx-trigger="click"
        class="border-b-2 cursor-pointer">全部訂單</a>

        <a hx-get="{% url 'orders:my_orders_tab_content' %}?tab=ongoing"
        hx-target="#my-order-list"
        hx-swap="innerHTML"
        hx-trigger="click"
        class="border-b-2 cursor-pointer">未成團訂單</a>

    <a hx-get="{% url 'orders:my_orders_tab_content' %}?tab=pending"
        hx-target="#my-order-list"
        hx-swap="innerHTML"
        hx-trigger="click"
        class="border-b-2 cursor-pointer">待付款訂單</a>

    <a hx-get="{% url 'orders:my_orders_tab_content' %}?tab=processing"
        hx-target="#my-order-list"
        hx-swap="innerHTML"
        hx-trigger="click"
        class="border-b-2 cursor-pointer">待出貨訂單</a>

    <a hx-get="{% url 'orders:my_orders_tab_content' %}?tab=shipped"
        hx-target="#my-order-list"
        hx-swap="innerHTML"
        hx-trigger="click"
        class="border-b-2 cursor-pointer">已出貨訂單</a>

    <a hx-get="{% url 'orders:my_orders_tab_content' %}?tab=completed"
        hx-target="#my-order-list"
        hx-swap="innerHTML"
        hx-trigger="click"
        class="border-b-2 cursor-pointer">已完成訂單</a>
</ul>