{% extends "layouts/default.html"%}
{% block content %}


{% include "orders/shared/my_orders_navbar.html" %}

{% if orders %}
    <ul class="flex flex-col gap-4">
    {% for order in orders %}
        <li class="flex gap-4">
            <span>{{order.number}}</span>
            <p>{{order.group.name}}</p>
            <div>
                    {% for jgp in order.joined_group.joined_group_products.all %}
                    <div class="flex flex-col">
                        <div class="flex gap-10">
                            <span>{{jgp.product.name}} ${{jgp.product.price}} x{{jgp.quantity}}</span>
                            <span>{{jgp.subtotal}}</span>
                        </div>
                    
                    </div>
                    {% endfor %}
            </div>
            <span>總價 {{order.formatted_amount}}</span>
            <div>
                <span>
                    {{order.get_order_status_display}}
                </span>
            </div>  
        </li>
        <hr/>
    {% endfor %}
    </ul>
{% else %}
<p>尚無已完成的訂單</p>
{% endif %}
{% endblock %}