@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "toastify-js/src/toastify.css";

[x-cloak] {
  display: none !important;
}

:root {
  font-family: "Montserrat", sans-serif;
  --primary-color: #ec6c00;
  --primary-color-400: #fb7304;
  --secondary-color: #2e2d2d;
  --secondary-color-900: #3d3c3c;
  --tertiary-color: #eeeeee;
  --tertiary-color-50: #f6f6f6;
  --tertiary-color-200: #dcdcdc;
  --tertiary-color-300: #c2bfbf;
  --tertiary-color-500: #7d7878;
  --red-color-500: #ee2933;
  --red-color-700: #c10007;
  --green-color: #06890aff;
}

html {
  color: var(--secondary-color-900);
  list-style-type: none;
}

button {
  cursor: pointer;
}

input:-webkit-autofill {
  background: var(--tertiary-color) !important;
  box-shadow: 0 0 0 100px var(--tertiary-color) inset !important;
  -webkit-text-fill-color: #000 !important;
}

input:focus {
  outline-color: var(--tertiary-color-500) !important;
}

textarea:focus {
  outline-color: var(--tertiary-color-500) !important;
}

select:focus {
  outline-color: var(--tertiary-color-500) !important;
}

.primary-color {
  color: var(--primary-color);
}

.bg-primary-color {
  background-color: var(--primary-color);
}

.border-primary-color {
  border-color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.bg-secondary-color {
  background-color: var(--secondary-color);
}

.border-secondary-color {
  border-color: var(--secondary-color);
}

.tertiary-color {
  color: var(--tertiary-color);
}

.bg-tertiary-color {
  background-color: var(--tertiary-color);
}

.border-tertiary-color {
  border-color: var(--tertiary-color);
}

.bg-tertiary-color-50 {
  background-color: var(--tertiary-color-50);
}

.bg-tertiary-color-200 {
  background-color: var(--tertiary-color-200);
}

.tertiary-color-300 {
  color: var(--tertiary-color-300);
}

.bg-tertiary-color-300 {
  background-color: var(--tertiary-color-300);
}

.border-tertiary-color-300 {
  border-color: var(--tertiary-color-300);
}

.tertiary-color-500 {
  color: var(--tertiary-color-500);
}

.red-color-700 {
  color: var(--red-color-700);
}

.green-color {
  color: var(--green-color);
}

/* main-btn */
.main-btn {
  background-color: var(--primary-color);
  color: white;
  border-radius: 50px;
  transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  cursor: pointer;

  /* 手機版 */
  padding: 12px 24px;
  font-size: 16px;
}

.main-btn:hover {
  background-color: var(--primary-color-400);
}

.main-btn.main-btn-black {
  background-color: var(--secondary-color);
  color: white;
}

.main-btn.main-btn-black:hover {
  background-color: var(--secondary-color-900);
}

.main-btn.main-btn-red {
  background-color: transparent;
  border: 2px solid var(--red-color-500);
  color: var(--red-color-500);
  padding: 11px 24px;
}

.main-btn.main-btn-red:hover {
  background-color: var(--red-color-500);
  color: white;
}

/* secondary-btn */
.secondary-btn {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  border-radius: 50px;
  transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  cursor: pointer;

  padding: 8px 12px;
  font-size: 0.75rem; /* 12px */
}

.secondary-btn:hover {
  background-color: var(--secondary-color);
  color: white;
}

/* nav-btn */
.nav-btn {
  color: var(--secondary-color);
  transition: all 0.1s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  position: relative;
  cursor: pointer;

  /* 手機版 */
  padding: 12px 24px;
  font-size: 16px;
}

.nav-btn::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: var(--primary-color);
  transform: translateX(-50%);
  transition: width 0.3s ease-out;
}

.nav-btn:hover::after {
  width: 60%;
}

/* card-btn */
.card-btn {
  display: flex;
  cursor: pointer;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  padding: 6px 14px;
  font-size: 14px;
}
.card-btn-white {
  border: 1.5px solid var(--secondary-color);
  color: var(--secondary-color);
}

.card-btn-white:hover {
  background-color: var(--secondary-color);
  color: #ffffff;
}

.card-btn-red {
  border: 1.5px solid var(--red-color-500);
  color: var(--red-color-500);
}

.card-btn-red:hover {
  background-color: var(--red-color-500);
  color: #ffffff;
}

.card-btn-secondary {
  background-color: var(--secondary-color);
  border: 1.5px solid var(--secondary-color);
  color: #ffffff;
}

.card-btn-secondary:hover {
  background: var(--secondary-color-900);
  border: 1.5px solid var(--secondary-color-900);
  color: white;
}

.card-btn-orange {
  background-color: var(--primary-color);
  border: 1.5px solid var(--primary-color);
  color: white;
}

.card-btn-orange:hover {
  background-color: var(--primary-color-400);
  border: 1.5px solid var(--primary-color-400);
}

/* sub-tab-btn */
.sub-tab-btn {
  display: block;
  align-items: center;
  padding: 8px 16px;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
  background: var(--tertiary-color);
  color: var(--tertiary-color-500);
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
}

.sub-tab-btn:hover {
  background: var(--tertiary-color-200);
}

.sub-tab-btn.active {
  background: var(--secondary-color);
  color: white;
}

/* flash-messages */
.flash-messages-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.flash-messages-text {
  font-weight: 500;
  margin-left: 10px;
}

.flash-messages-close-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: white;
  padding: 0;
  display: flex;
  align-items: center;
}

.flash-messages-close-btn:hover svg {
  opacity: 0.8;
}

/* 隱藏數字input調整箭頭 Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 隱藏數字input調整箭頭 Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* 響應式 */
@media (min-width: 640px) {
  .main-btn {
    padding: 16px 32px;
    font-size: 18px;
  }

  .secondary-btn {
    padding: 10px 28px;
    font-size: 0.875rem; /* 14px */
  }

  .nav-btn {
    padding: 16px 32px;
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .main-btn {
    padding: 15px 34px;
    font-size: 18px;
  }

  .main-btn.nav {
    font-size: 18px;
  }

  .nav-btn {
    padding: 15px 34px;
  }
}

/* 進度條動畫 */
@keyframes progress-fill-half {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

.progress-line-half {
  width: 0;
  animation: progress-fill-half 0.8s ease-in-out forwards;
}

/* loading 動畫 */
/* 兼容 iOS Safari */
@-webkit-keyframes ball-bounce {
  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  50% {
    transform: translateY(-100%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}

@keyframes ball-bounce {
  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  50% {
    transform: translateY(-100%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}

.ball-bounce-animate {
  -webkit-animation: ball-bounce 0.8s ease-in-out 0s infinite both;
  animation: ball-bounce 0.8s ease-in-out 0s infinite both;
  will-change: transform;
  transform: translateZ(0);
}

.ball-bounce-animate-2 {
  -webkit-animation: ball-bounce 0.8s ease-in-out 0.15s infinite both;
  animation: ball-bounce 0.8s ease-in-out 0.15s infinite both;
}
.ball-bounce-animate-3 {
  -webkit-animation: ball-bounce 0.8s ease-in-out 0.3s infinite both;
  animation: ball-bounce 0.8s ease-in-out 0.3s infinite both;
}

.tox-tinymce {
  border-color: var(--tertiary-color-300) !important;
}
