@import "tailwindcss";
@import "toastify-js/src/toastify.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: "Montserrat";
  --bg-color: #f8f5ed;
  --main-color: #ebbc46;
  --brand-red: #d85c34;
  --brand-green: #3d7757ff;
  --brand-black: #221b18;
}

html {
  background: var(--bg-color);
  color: var(--brand-black);
}

.main-color {
  color: var(--main-color);
}

.bg-main-color {
  background-color: var(--main-color);
}

.border-main-color {
  border-color: var(--main-color);
}

.brand-black {
  color: var(--brand-black);
}

.bg-brand-black {
  background-color: var(--brand-black);
}

.border-brand-black {
  border-color: var(--brand-black);
}
