{% extends 'layouts/default.html'%}

{% block content%}
<div class="flex flex-col items-center mt-20">
    <div class="w-full max-w-md">
        <h1 class="text-2xl font-bold mt-12 mb-8 text-center">註冊</h1>
        <form action="{% url 'users:create' %}" method="post" class="space-y-8">
            {% csrf_token %}
            <div class="space-y-2">
                <div class="relative">
                    <svg class="absolute left-0 top-1/2 -translate-y-1/2" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#221b18" viewBox="0 0 256 256"><path d="M224,48H32a8,8,0,0,0-8,8V192a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V56A8,8,0,0,0,224,48ZM203.43,64,128,133.15,52.57,64ZM216,192H40V74.19l82.59,75.71a8,8,0,0,0,10.82,0L216,74.19V192Z"></path></svg>
                    <input type="email" 
                           placeholder="請輸入信箱" 
                           name="email" 
                           class="w-full h-15 pl-8 pr-1 py-2 border-b-[1.2px] border-brand-black focus:outline-none transition-colors">
                </div>
            </div>
            <div class="space-y-2">
                <div class="relative">
                    <svg class="absolute left-0 top-1/2 -translate-y-1/2" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#221b18" viewBox="0 0 256 256"><path d="M208,80H176V56a48,48,0,0,0-96,0V80H48A16,16,0,0,0,32,96V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V96A16,16,0,0,0,208,80ZM96,56a32,32,0,0,1,64,0V80H96ZM208,208H48V96H208V208Z"></path></svg>
                    <input type="password" 
                           placeholder="請輸入密碼" 
                           name="password" 
                           class="w-full h-15  pl-8 pr-1 py-2 border-b-[1.2px] border-brand-black focus:outline-none transition-colors">
                </div>
            </div>
            <div class="flex justify-center">
                <button class="text-brand-black px-12 py-3 rounded-full border-[1.2px]  hover:bg-[var(--main-color)] [&:hover]:border-[var(--main-color)] transition-all ease-in-out cursor-pointer">
                註冊
                </button>
        </form>
    </div>
    <p class="my-8 text-center">已有帳號？立即 <a href="{% url 'users:sessions_new' %}" class="border-b-2">登入</a></p>
</div>
{% endblock %}