<nav aria-label="主要導航" class="flex justify-center mt-6 lg:mt-8">
	<ul class="flex flex-nowrap items-center gap-2 sm:gap-3 lg:gap-4 px-3 sm:px-4 py-4 bg-[var(--tertiary-color)] rounded-full text-xs sm:text-sm lg:text-base overflow-x-auto">
        <li>
            <a href="{% url 'orders:my_orders' %}"
               class="transition-all duration-300 px-4 sm:px-6 py-2 rounded-[50px] text-sm min-w-[88px] {% if tab == 'my_orders' %} bg-secondary-color text-white{% else %}bg-[var(--tertiary-color)] hover:bg-[var(--tertiary-color-200)]{% endif %}">
                我跟團的訂單
            </a>
        </li>

        <li>
            <a href="{% url 'orders:owned_orders' %}"
               class="transition-all duration-300 px-4 sm:px-6 py-2 rounded-[50px] text-sm min-w-[88px] {% if tab == 'owned_orders' %} bg-secondary-color text-white{% else %}bg-[var(--tertiary-color)] hover:bg-[var(--tertiary-color-200)]{% endif %}">
                我開團的訂單
            </a>
        </li>
    </ul>
</nav>