<footer class="mt-20 bg-secondary-color tertiary-color">
    <div class="max-w-[1440px] mx-auto px-8 sm:px-12 py-6 lg:py-8">
        <div class="flex flex-col sm:justify-between lg:flex-row lg:justify-between gap-2 lg:gap-8">
                <a href="mailto:buybuddysite@gmail.com" class="tertiary-color text-sm">BuyBuddy@gmail.com</a>
            <!-- Right Content -->
            <p class="tertiary-color text-[9px] lg:text-sm">&copy; 2025 BuyBuddy. All rights reserved.</p>
        </div>
    </div>
</footer>