<template x-if="loading">
    <div class="fixed inset-0 w-screen h-screen bg-black/70 flex items-center justify-center z-[10000] gap-3 sm:gap-4">
            <div class="w-4 sm:w-6 aspect-square bg-primary-color rounded-full ball-bounce-animate">
            </div>
            <div class="w-4 sm:w-6 aspect-square bg-primary-color rounded-full ball-bounce-animate">
            </div>
            <div class="w-4 sm:w-6 aspect-square bg-primary-color rounded-full ball-bounce-animate">
            </div>
    </div>
</template>