{% load static %}
  <nav 
    class="max-w-[1440px] mx-auto px-8 sm:px-12 h-[90px] flex items-center justify-between text-base"
    x-data="{open:false}">
    <ul class="flex items-center gap-4">
    <li>
        <a class="flex items-center justify-center"
        href="{% url 'pages:homepage' %}">
            <img class="w-[150px] sm:w-[200px]" src="{% static 'assets/logo.svg' %}" alt="logo">
        </a>
    </li>
    <li class="hidden lg:block">
        <a href="{% url 'groups:new' %}" class="nav-btn">我要開團</a>
    </li>
    <li class="hidden lg:block">
        <a href="{% url 'groups:index' %}" class="nav-btn">團購一覽</a>
    </li>
    </ul>
      
    <!-- 桌面版選單（lg 以上顯示） -->
    {% if user.is_authenticated %}
        <ul class="hidden lg:flex items-center gap-4">
            <li >
                <a href="{% url 'orders:my_orders' %}"
                   class="nav-btn">我的訂單</a>
            </li>

           

            <li>
                <a href="{% url 'users:profiles'%}">
                   <div id="navbar-avatar-desktop" class="rounded-full overflow-hidden w-8 h-8">
                       <img src="{{ user.avatar_url.url }}" alt="User Avatar">
                   </div>
                </a>
            </li>


            <!-- 鈴鐺-->
            <li  class="relative cursor-pointer leading-8 flex items-center     
                        group" x-data="{show:false}">
                {% include "shared/bell.html" %}
                {% include "shared/notifications_dropdown.html" %}
            </li>

             <li>
                <a href="{% url 'users:sessions_delete' %}?next={{request.path}}"
                   class="py-[12px] px-[24px] rounded-full border-[1.5px] border-secondary-color hover:bg-[var(--secondary-color)] hover:text-white transition-all duration-300">登出</a>
            </li>
            
        </ul>
    {% else %}
        <ul class="hidden lg:flex justify-center items-center gap-4">
            <li >
                <a href="{% url 'users:sessions_new' %}" class="nav-btn">登入</a>
            </li>
            <li class="text-sm">
                <a href="{% url 'users:new' %}" class="rounded-full main-btn nav">註冊</a>
            </li>
        </ul>
    {% endif %}

    <!-- 手機/平板版選單（lg 以下顯示） -->
    <div class="flex lg:hidden items-center gap-6">
     

        <ul class="relative leading-8 flex items-center gap-8" x-data="{show:false}">
            <!-- 鈴鐺-->
            {% if user.is_authenticated %}
                <li  class="relative cursor-pointer leading-8 flex items-center group" x-data="{show:false}">
                    {% include "shared/bell.html" %}
                    {% include "shared/notifications_dropdown.html" %}
                </li>
                <li>
                    {% include "shared/hum_nav.html" %}
                </li>
            {% else %}
                <li class="text-sm">
                    <a href="{% url 'users:new' %}" class="rounded-full main-btn nav">註冊</a>
                </li>
            {% endif %}
        </ul>
        
       
        
    </div>
  </nav>
