{% if notifications %}
{% if unread_count %}
<div class="absolute bg-red-500 p-2 top-[-5px] right-[-10px] rounded-full w-[18px] h-[18px]         
     flex justify-center items-center">
    <span class="text-[13px] text-white ">
        {{unread_count}}
    </span>
</div>
{% endif %}

<div x-show="show"
     @click.outside="show=false"  
     class="absolute w-[300px] h-[200px] top-[40px] right-[-70px] overflow-auto p-[15px]">
    <form action="{% url 'notifications:read_all' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{request.path}}">
        <button class="border-b-2 cursor-pointer">全部已讀</button>
    </form>
    <ul>
        {% for un in notifications %}
        <li>
           <a href="{% url 'notifications:open' un.id %}" class="border-b-2">
             <strong>
                {% if not un.is_read %}
                [ 未讀 ]
                {% endif %}
                {{un.notification.title}}
            </strong>
           </a>
            <p>{{un.notification.content}}</p>
            <span>{{un.notification.created_at|date:"Y-m-d H:i"}}</span>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}