<div class="inline-flex items-center gap-2 sm:gap-6 lg:gap-8 px-3 sm:px-4 py-2 bg-[var(--tertiary-color)] rounded-full text-xs sm:text-sm lg:text-base">
	<a href="{% url 'groups:index_filtered' filter_type='owned' %}"
		{% if request.htmx %}
	   hx-get="{% url 'groups:index_filtered' filter_type='owned' %}"
	   hx-target="#groups-container"
	   hx-push-url="true"
	   {% endif %}
	   class="transition-all duration-300 {% if active_tab == 'owned' %}rounded-[50px] bg-secondary-color px-4 sm:px-6 py-2 text-white shadow-md{% else %}secondary-btn{% endif %}">
       我開的團
	</a>
	<a href="{% url 'groups:index_filtered' filter_type='ongoing' %}"
		{% if request.htmx %}
       hx-get="{% url 'groups:index_filtered' filter_type='ongoing' %}"
       hx-target="#groups-container"
       hx-push-url="true"
	   {% endif %}
       class="transition-all duration-300 {% if active_tab == 'ongoing' %}rounded-[50px] bg-secondary-color px-4 sm:px-6 py-2 text-white shadow-md{% else %}secondary-btn{% endif %}">
       現正開團中
	</a>
	<a href="{% url 'groups:index_filtered' filter_type='followed' %}"
		{% if request.htmx %}
       hx-get="{% url 'groups:index_filtered' filter_type='followed' %}"
       hx-target="#groups-container"
       hx-push-url="true"
	   {% endif %}
       class="transition-all duration-300 {% if active_tab == 'followed' %}rounded-[50px] bg-secondary-color px-4 sm:px-6 py-2 text-white shadow-md{% else %}secondary-btn{% endif %}">
       我跟的團
    </a>
</div>