{% extends 'layouts/default.html'%}

{% block content%}
<h1>notifications</h1>

<ul>
    {% for un in notifications %}
    <li>
       <a href="{% url 'notifications:open' un.id %}" class="border-b-2">
         <strong>
            {% if not un.is_read %}
            [ 未讀 ]
            {% endif %}
            {{un.notification.title}}
        </strong>
       </a>
        <p>{{un.notification.content}}</p>
        <span>{{un.notification.created_at|date:"Y-m-d H:i"}}</span>
    </li>
    {% endfor %}
</ul>

{% endblock %}