<div class="flex justify-between">
            <span class="font-semibold">{{ user_address_form.recipient_name.label_tag }}</span>
            <span>{{ user_address_form.recipient_name }}</span>
    </div>
    <div class="flex justify-between">
        <span class="font-semibold">{{ user_address_form.is_default.label_tag }}</span>
        <span>{{ user_address_form.is_default }}</span>
    </div>
    <div class="flex justify-between">
        <span class="font-semibold">{{ user_address_form.phone.label_tag }}</span>
        <span>{{ user_address_form.phone }}</span>
    </div>
    <div class="flex justify-between">
        <span class="font-semibold">{{ user_address_form.postal_code.label_tag }}</span>
        <span>{{ user_address_form.postal_code }}</span>
    </div>
    <div class="flex justify-between">
        <span class="font-semibold">{{ user_address_form.county.label_tag }}</span>
        <span>{{ user_address_form.county }}</span>
    </div>
    <div class="flex justify-between">
        <span class="font-semibold">{{ user_address_form.district.label_tag }}</span>
        <span>{{ user_address_form.district }}</span>
    </div>
    <div class="flex justify-between">
        <span class="font-semibold">{{ user_address_form.road.label_tag }}</span>
        <span>{{ user_address_form.road }}</span>
    </div>
    <div class="flex justify-between">
        <span class="font-semibold">{{ user_address_form.detail.label_tag }}</span>
        <span>{{ user_address_form.detail }}</span>
    </div>