{% load static %}
{% if show %}
    {% include "users/shared/messages.html" %}
{% endif %}


<form hx-post="{% url 'users:address_edit' user_address_form.instance.id %}"
      hx-target="#user_address_{{user_address_form.instance.id}}"
      hx-swap="outerHTML"
      id="user_address_{{user_address_form.instance.id}}"
      x-data="addressFormControl()"
      novalidate>
    {% csrf_token %}
    <div class="mb-4">
        {% include "users/shared/address_form_fields.html" %}
    </div>

    {% if first_edit %}
        {% include "users/shared/address_edit_btns.html" %}
    {% endif %}
    

</form>
