{% if partial_msg_show %}
    {% include "shared/flash_messages_content.html" with messages=messages only %}
{% endif %}

<div id="user_profile" class="text-center md:text-left flex flex-col items-center">
    <form hx-post="{% url 'users:profiles_edit' %}"
          hx-target="#user_profile"
          hx-swap="outerHTML"
          enctype="multipart/form-data"
          class="w-full max-w-md flex flex-col gap-4">
        {% csrf_token %}
        <div x-data="imagePreview('{{ user_form.instance.avatar_url.url }}')">
            <div class="flex justify-center mb-6">
                <img 
                    :src="imageUrl" 
                    alt="User Avatar" 
                    class="w-40 h-40 rounded-full object-contain"
                >
            </div>

            <div class="px-6">
                <div class="mb-4">
                    <p class="text-xs text-[var(--tertiary-color-500)] mb-1">電子信箱</p>
                    <p class="font-medium text-primary-800">{{user.email}}</p>
                </div>
    
                <div class="mb-4">
                    <p class="text-xs text-[var(--tertiary-color-500)] mb-1">頭像</p>
                    <div class="mt-2">
                        <label for="id_avatar_url" class="text-sm w-full py-2 px-4 border border-[var(--tertiary-color-300)] rounded-full focus:outline-none transition-colors h-[42px] flex items-center justify-center cursor-pointer overflow-hidden">
                            <span class="truncate" x-text="fileName || '選擇檔案'">選擇檔案</span>
                            <input type="file" 
                                   id="id_avatar_url" 
                                   name="{{ user_form.avatar_url.html_name }}" 
                                   @change="handleFile"
                                   class="hidden"
                                   accept="image/*">
                        </label>
                    </div>
                </div>
    
                <div class="mb-4">
                    <p class="text-xs text-[var(--tertiary-color-500)] mb-1">{{ user_form.username.label }}</p>
                    <div>
                        <input type="text" 
                               name="{{ user_form.username.html_name }}" 
                               value="{{ user_form.username.value|default:'' }}" 
                               class="text-sm w-full py-2 px-4 border border-[var(--tertiary-color-300)] rounded-full focus:outline-none transition-colors h-[42px]"
                               placeholder="請輸入用戶名">
                    </div>
                    {% if user_form.username.errors %}
                        <div class="min-h-[2px]"></div>
                        <div class="text-[var(--red-color-700)] text-sm mt-2 min-h-[20px]">
                            {{ user_form.username.errors.0 }}
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="w-full mt-6">
                <button type="submit"
                    class="w-full py-[12px] px-[24px] rounded-full flex justify-center items-center gap-2 h-12 bg-[var(--secondary-color)] text-white hover:bg-[var(--secondary-color-900)] transition-colors duration-200 cursor-pointer">
                    儲存
                </button>
            </div>
        </div>
    </form>
</div>
