{% if partial_msg_show %}
    {% include "shared/flash_messages_content.html" with messages=messages only %}
    
    <!-- 使用 hx-swap-oob 同時更新導航欄頭像 -->
    {% if user_form.instance.avatar_url %}
        <img hx-swap-oob="outerHTML:#navbar-avatar-desktop img" 
            hx-disinherit="oobErrorIgnore"
            src="{{ user_form.instance.avatar_url.url }}" 
            alt="User Avatar"
            class="w-full h-full object-cover">

        <img hx-swap-oob="outerHTML:#navbar-avatar-mobile img" 
            hx-disinherit="oobErrorIgnore"
            src="{{ user_form.instance.avatar_url.url }}" 
            alt="User Avatar"
            class="w-full h-full object-cover">
    {% endif %}
{% endif %}



<div id="user_profile" class="text-center md:text-left flex flex-col items-center">

    <div class="mb-6 flex flex-col justify-center text-center gap-4 mt-6 sm:mt-0 sm:flex-row md:py-2 sm:py-3 sm:justify-between items-center">
        <p class="flex flex-col lg:flex-row text-xl font-bold break-keep">您好
            <span class="break-all">{{user.username}}</span>
        </p>
    </div>
    
    <div class="mb-6 h-40 aspect-square overflow-hidden rounded-full border-2 border-tertiary-color">
        <img 
        src="{{ user_form.instance.avatar_url.url }}" 
        alt="User Avatar" 
        class="w-full h-full object-cover"
        onerror="this.onerror=null; this.src='/media/avatars/avatar_default.png';"
        >
    </div>


    <div class="w-full flex flex-col gap-3 text-center md:text-left">
        <div class="rounded-lg p-4">
            <div class="flex gap-1 justify-center md:justify-start items-center">
                <p class="text-xs tertiary-color-500 mb-1">電子信箱</p>
                {% if user.is_verified %}
                    <svg class="w-[20px] h-[20px] transition-opacity -translate-y-[0.5px] fill-[#ec6c00]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
                            <path d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path>
                    </svg>
                 {% endif %}
            </div>
            <p class="font-medium text-primary-800 break-all">{{user.email}}</p>
            {% if not user.is_verified %}
                <form action="{% url 'users:check_email' %}" method="post" @submit="loading = true">
                    {% csrf_token %}
                    <button class="text-xs text-white bg-[var(--primary-color)] rounded-full px-4 py-2 mt-2 hover:bg-[var(--primary-color-400)]">
                        驗證信箱
                    </button>
                </form>
            {% endif %}
        </div>

       
        
        <div class="rounded-lg p-4">
            <p class="text-xs tertiary-color-500 mb-1">{{ user_form.username.label }}</p>
            <p class="font-medium text-primary-800 break-all">{{ user_form.username.value }}</p>
        </div>
        
        <button 
            hx-get="{% url 'users:profiles_edit' %}"
            hx-target="#user_profile"
            hx-swap="outerHTML"
            class="py-[12px] px-[24px] rounded-full flex justify-center items-center gap-2 h-12 bg-[var(--secondary-color)] text-white hover:bg-[var(--secondary-color-900)] transition-colors duration-200 cursor-pointer">
            編輯
        </button>
    </div>
</div>


