{% load static %}
<div class="w-full max-w-md px-14 mt-6">
    <div class="relative flex items-center justify-center mb-4">
        <div class="border-t-[1.5px] border-[var(--tertiary-color-300)] w-full"></div>
        <span class="px-4 text-[var(--tertiary-color-500)] text-center text-sm">或</span>
        <div class="border-t-[1.5px] border-[var(--tertiary-color-300)] w-full"></div>
    </div>

    <div class="flex flex-col justify-center gap-4 mt-4">
        <a href="#" class="flex items-center justify-center gap-2 w-full py-2 px-4 border-[1.5px] border-[var(--tertiary-color-300)] rounded-full hover:border-[var(--tertiary-color)] hover:bg-[var(--tertiary-color)] transition-colors">
            <img src="{% static 'assets/google.png' %}" alt="Google" class="w-4 h-4">
            <span class="text-sm">Google</span>
        </a>
        <a href="#" class="flex items-center justify-center gap-2 w-full py-2 px-4 border-[1.5px] border-[var(--tertiary-color-300)] rounded-full hover:border-[var(--tertiary-color)] hover:bg-[var(--tertiary-color)] transition-colors">
            <img src="{% static 'assets/line.png' %}" alt="Line" class="w-[18px] h-[18px]">
            <span class="text-sm">Line</span>
        </a>
    </div>
</div>